#banner {
    text-align: center;
    background-color: red;
}
#banner-link {
    text-align: center;
    width: 100%;
    margin: auto;
}
#banner-img {
    /* height: 1000px; */
    background-color: red;
    width: 100%;
}