.content-type-4 {
    margin-top: 25px;
    display: flex;
    width: 100%;
}
.content-type-4-column {
    flex: 3;
    margin-right: 100px;
}
.content-type-4-img {
    flex: 2;
    width: 100px;
    background-color: red;
}