footer {
    padding: 0 25px 50px 25px;
}
.footer-container {
    /* display: flex; */
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    padding: 10px 0;
}
.footer-copyright {
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
}
.footer-column {
    margin-bottom: 25px;
    /* border-top: 1px solid #bdbdbd; */
    /* border-bottom: 1px solid #bdbdbd; */
}
.footer-column:last-of-type {
    margin-bottom: 0px;
}
.footer-heading {
    font-size: 14px;
}
.footer-item {
    font-size: 14px;
    padding: 2px 5px;
}
/* .footer-column {
    flex: 4;
}
.footer-heading-inner {
    margin-top: 20px;
}
.footer-heading, .footer-heading-inner {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #1d1d1f;
    margin-bottom: 8px;
}
.footer-item {
    font-style: normal;
    font-weight: 400px;
    font-size: 12px;
    line-height: 16px;
    color: #1d1d1f;
    opacity: 0.5;
    margin-bottom: 8px;
}
.footer-copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #86868b;
    text-align: center;
    padding: 10px 0;
}
.footer-legal {
    display: flex;
    text-align: center;
    width: 30%;
    margin-left: 35%;
    font-style: normal;
    font-weight: 400px;
    font-size: 12px;
    line-height: 16px;
    color: #1d1d1f;
} */